*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.black-box, .img1, .img2{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;

}
.black-box{
    background-color: black;
    height: 50vh;
}

.img1{
    background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg");
    background-size: cover;
    
}
.img2
{
    background-image: url("https://img.freepik.com/free-photo/kirkjufell-sunrise-iceland-beautiful-landscape_335224-685.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}