*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    border: 1px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    margin: 20px;
}
.wrapper{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid rgb(209, 205, 205);
    box-shadow: 1px 1px 10px rgb(114, 114, 114);
}
.photo{
    background-image: url("https://images.all-free-download.com/images/graphiclarge/cute_dog_03_hd_pictures_168930.jpg");
    height: 200px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.info{
    border-top: 1px solid rgb(209, 205, 205);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    color: black;
}
.nick{
    margin-top: 10px;
}
.social{
    margin-bottom: -20px;
}
.contact{
    height: 40px;
    background-color: black;
    color: white;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    border: 1px solid black;
}