* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(248, 251, 222);
}

li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(250, 214, 166);

}

ul {
    background-color: rgb(242, 226, 184);
    display: none;
}

ul,
div.menu-top {
    width: 200px;
}

.menu-top {
    background-color: rgb(250, 214, 166);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
}

.wrapper:hover ul {
    display: block;

}

.wrapper:hover .menu-top {
    font-weight: bold;
}

li:hover {
    background-color: rgb(248, 251, 222);
    font-weight: bold;
    letter-spacing: 1px;
}

.wrapper {
    /* border: 1px solid red; */
    width: 200px;
    margin: 0 auto;
    margin-top: 20vh;
}